* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: right;
    gap: 20px;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header img{
    width: 115px;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.navbar{
    font-family: arial;
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s ease; 
}

.navbar a:hover {
    color: #911E25; 
}

.login a {
    color: #EFF3FD; 
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login:hover a {
    color: #EFF3FD; 
}

.login:hover {
    background-color: #FF2D46; 
}

a {
    text-decoration: none;
    color: inherit;
}

.garis{
    width: 2px;
    height: 20px;
    background-color: #75171E;
}

.link {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}

.login{
    background-color: #75171E; 
    color: #FFFFFF;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.kotakbesar{
    margin-top: 110px;
    background-color: #75171E;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 215px;
    display: flex;          
    overflow: hidden;
}

.gambar {
    flex: 1;
    height: 100%;
}

.gambar img {
    height: 100%;
    width: auto;
    object-fit: cover; 
    display: block;
}


.logo{
    margin-bottom: 70px;
}

.logo img{
    width: 170px;
}

.text{
    font-family: arial;
    color: #EFF3FD;
}

.text h3{
    margin-bottom: 5px;
}

.text input{
    width: 450px;
    height: 50px;
    background-color: #EFF3FD;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.email{
    margin-bottom: 15px;
}

.kanan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;
    width: 600px;
}

.tombol button{
    color: #EFF3FD;
    font-family: arial;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #911E25;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tombol button:hover{
    background-color: #FF2D46;  
    color: #EFF3FD;
}

.tulisan{
    font-family: arial;
    padding-top: 120px;
    display: flex;
    gap: 5px;
}

.teks_satu{
    color: #EFF3FD;
}

.teks_dua{
    color: #FF2D46;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.teks_dua:hover{
    color: #EFF3FD;
}

.kanan form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
